@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Matemasie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: 'Poppins, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}
/*style the header*/
header
        {background:linear-gradient(to right , #ffa048 , #df7a1b65 );
         width: 100%;
         position: fixed;
         z-index: 999;
         display: flex;
         justify-content: space-around;
         align-items: center;
         padding: 15px 9px;
         box-shadow: 0 0 40px #5f3f07;}
        .logoName a {
         text-decoration: none;
         text-transform: uppercase;
         color: #fff;
         font-size: 2em;
         font-weight: 600;
         }
        img#photo-logo {
         width: 100px; 
         border-radius : 100%;}
         header.navigation {
         display: flex;
         justify-content: space-around;
         align-items: center;
                }
          .navigation a{
            color: #763406;
            text-decoration: none;
            font-size: 1.2em;
            font-weight: 950;
            padding-left : 10px;
               }
               .navigation a:hover {color: #5a13a6}
               
/*style the main content*/
.welcomePage{
  background-image: url("/asset/الواجهةة.JPG") ;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 100% 68%;
  background-attachment: fixed;
  width: 100%;/*72%*/
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: start;
  right: 20px;
}
.welcomePage h2{
  font: 2.5em "Playfair Display";
  font-weight: 900;
  font-style: italic;
  color: #fff;
  text-shadow : 2px 2px 5px #fe7b00;
  text-align: center;
  margin: 10px;
  padding: 40px 30px 1px;
}
.welcomebtn {
  font-size: 1.4em ;
  color: #f9f9f9;
  text-align: center;
  font-weight: 600;
  margin-top: 70px;
  padding: 10px ;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background:linear-gradient(to right ,#a0480d67 , #fe7b00);
  transition-duration: 0.4s ;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  transition: 0.6s ease;
}
.welcomebtn :hover{
  background-color: #b85900;
  transform: scale(.9,.9);
}
section{
  padding: 9px 150px;
}
.social-icons a {
        padding-right: 10px;
        font-size: 1.3em;
        color: #9e5400;
        
}
.social-icons{
  display: flex;
  justify-content: space-around;
  padding: 440px 9px 10px;
}
/* style main*/
.mainPage{
    min-height: 100vh;
   align-items: center;
   background-color: #cfe0e4;
   }
   .main h2 {
    color: #ffffff;
   font-size: 1.5em;
   font-weight: 700;
   text-shadow: 2px 2px 5px #174254;
   padding: 165px 10px 30px;
   margin: 10px 20px;
   text-align: center;
  }

   .main h2 span{
    color: #1e5252;
   font-weight: 600;
   font-size: 1.9em;
   letter-spacing: -2px;
   padding: 20px;}

   .main h3 {
    color: #0a0567;
   text-shadow: 2px 2px 5px rgb(87, 74, 74);
   font-size: 1.8em;
   font-weight: 700;
   letter-spacing: -1px;
   margin-top: -20px;
   text-align: center;
   }
   .crew-btn{
   display: inline-block;
   margin-bottom: 40px;
   padding: 0.9375em 2.1875em;
   border-radius: 50px;
   border: 2px solid #0a634523( 61% / 0.138);
   color: #cfe0e4;
   background-color: rgba(10, 99, 96, 0.362);
   font-size: 1.2em;
   font-weight: 700;
   text-decoration: none;
   text-transform: uppercase;
   transition: 0.6s ease;
   
   }
   .crew-btn:hover{
    background-color:rgba(10, 99, 99, 0.822);
    transform: scale(.9,.9);
   }
   .main a{
    text-align: center;
   }
/*cards crew*/
.crew {
            background-color: #c8ead8;
 }
.crew-title {
 display: flex;
 justify-content: center;
 color: #2e6551;
 font-size: 3em;
 font-weight: 800;
 margin-bottom: 10px;
 padding: 90px 10px 9px;
  }
.crew-content {
           display: flex;
           justify-content: center; 
           flex-direction: row;
           flex-wrap: wrap;
 }
          .crew-card {
            background-color: #5f977452;
            width: 13.1em;
            box-shadow: 0 5px 25px #01010140;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            transition: 0.9s ease;
          }
          .crew-card :hover{
          transform: scale(1.1);
          } 
          .crew-card .crew-icon {
            color: #f5f1f1;
            font-size: 7em;
            text-align: center;
          }
          .crew-info {
           text-align: center;
          }
          .crew-info h3 {
            color: #0e8144;
            font-size: 1.3em;
            font-weight: 990;
            margin: 10px;
          }
          .crew-info p {
             font-size: 1.1em;
             font-weight: 600;
             margin: 5px;
          }
          .explore {
            background:linear-gradient(to left top ,#afcbff 2%, #c5ffd2);
            }
            .explore-title{
             color:#e2f0fd;
             text-shadow: #004aad 3px 2px;
             display: flex;
             justify-content: center;
             font-size: 3em;
             font-weight: 800;
             margin-bottom: 30px;
             padding: 100px 100px 10px;
            }
            .explore-content {
              margin-top: 30px;
              display: flex;
              justify-content: center; 
              flex-direction: row; 
              flex-wrap: wrap;
            }
             .explore-image .yellow {
              min-height:6em;
              width: 19em;
              float: right;
             }
            
            .explore-image img {
              width: 100%;
            }
            .yellow-info {
             margin: 1px ;
              font-size: 1.2em;
              position: relative;
              bottom: 40px;
              right: 50px;
            }
            .yellow-info em{
             color: #31659c;
            }
            .yellow-category {
              font-size: 0.9em;
              font-weight: 500;
              color: #063136;
              text-align: start;
              position: relative;
              bottom: 1px;
            }
            .explore-image .play{
              min-height:4em;
              width: 19em;
              float: left;
            }
            .play-info {
              margin: 1px ;
              font-size: 1.2em;
              position: relative;
              bottom: 40px;
              left: 50px;
            }
            .play-info em{
             color: #31659c;
            }
            .play-category {
              font-size: 0.9em;
              font-weight: 500;
              color: #063136;
              text-align: start;
              position: relative;
              bottom: 1px;

            }
            .last-news{
                background: linear-gradient( to left  , #cdffd8 ,#94b9ff);
              }
              .last-news h2{
                font-size: 3em;
                color: #fff;
                text-align: center;
                margin-top: 140px;
               }         
              .last-news.news-card img{
                width: 100%;
               
              }
              .news-img{
                min-height: 8em;
                width: 12em;
                padding: 10px;
              }
              
              .news-content{
             color: #244cc5;
             padding: 10px;
             margin: 10px;
             display: flex;
             justify-content: center; 
             flex-direction: row;
             flex-wrap: wrap;
        }
              .news-card.news-info{
                text-align: center;
               }
               .news-card.news-info h4{
                  font-size: 1.2em;
                  font-weight: 600;
                  margin: 10px;
               }  
 /*contect section*/
 .contact-content{
    color: #c54f24;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact{
    background-color: #f3d1a0
  }
  .contact-title{
   display: flex;
   justify-content: center;
   font-weight: 800;
   margin-bottom: 30px;
   font-size: 3em;
   color:#f48200
  }
  .contact-icon{
   font-size: 3em;
   color: #d88b04;
   text-align: center;
  }
  .contact-card{
   background-color: #c89b3952;
   width: 13.1em;
   box-shadow: 0 5px 25px #01010140;
   border-radius: 30px;
   padding: 10px;
   margin: 20px;
   text-align: center;
  }
  .contact-info h3 {
   color: #4e2c0d;
   font-weight: 800;
  }
  .contact-info p {
   font-size: 1.2em;
   color: #f0831e;
   font-weight: 900;
  }
  .contact-info a{
    text-decoration: none;
  }
   /* Style the footer */
   .footer {
    background-color: #efe4ef;
    padding: 0.1em;
    margin: 1px;
    display: flex; 
    justify-content: start;  
   }
   .footer p {
    font-size: 1.1em;
    font-weight: 600;
    margin: 5px;
    color: #a597ab;
    padding: 0 10px;
   }
   .footer a {
    font-size: 1.1em;
    padding: 0 12px 0 ;
    color: #a597abe7;
   }
     /*media*/
     @media (max-width:1023px) {
        header{
          width: 76.5%;
        /*  padding: 0.4em;*/
          align-items: center;
         }
        img#photo-logo{
          width: 38px; 
          border-radius : 100%;
        }
        .logoname a{
          font-size: 0.5em;
        }
        .navigation{
          font-size: 0.4em;
          padding : 0.1em;
         }
        .tite{
          font-size: 0.8em;
         }
        .section{
              padding: 10px 15px;
              }
        .main{
              padding: .1em 1em;
              width: 76.5%;
              align-items: center;
              background-position:  94% 70%;
              background-attachment: fixed;      
              }
        .main h2{
               font-size: 1.1em;
              }
        .main h2 span{
              font-size: 1.4em;
              }
        .main h3{
              font-size: 1.04em;
              }
        .main-btn{
              font-size: 0.8em;
              }
        .social-icons{
           font-size: 0.8em;
         }
        .services{
              padding: .1em 1em;
              width: 77%;
               } 
            .services-title{
              font-size: 1.4em;
              padding: 0.1em;
              margin-top: 1em;
              text-align: center;
              }
            .services-content{
              flex-direction: column;
              align-items: center;
              }
             .services-card{
               font-size: 0.9em;
              align-items: center; 
              margin-bottom: 2em;
             }
            .Learning{
              width: 76.5%;
              padding: .1em 1em;
             }
             .Learning-title{
               font-size: 1.3em;
               padding: 0.1em;
               margin-top: 2em;
               text-align: center;
             }
             .Learning-content{
               flex-direction: column;
               align-items: center;
             }
             .contact{
               padding: .1em 1em;
               width: 77%;
   }
   .contact-title{
       font-size: 1.3em;
       padding: 0.1em;
       margin-top: 1em;
       text-align: center;
   }
        
   .contact-card{
     flex-direction: column;
     align-items: center;
     margin-bottom: 0.1em;
   }
   .contact-icon{
       font-size:1.9em;
   }
   .contact-info{
       font-size: 1em;
       padding: 1em 1.1em;
   }
   .footer{
       font-size: 0.6em;
       width: 81%;
   }
   .footer-icons{
        margin: 1px 55px 1px 1px;
       padding: .1em .1em;
   }
   .footer-title{
      font-size: 0.9em;
   
   }
 
      }
    /*media iphone-x 2*/
       @media (max-width: 641px) {
   header{
       width: 92.5%;
     /*  padding: 0.4em;*/
       align-items: center;
    
   }
   img#photo-logo{
       width: 38px; 
       border-radius : 100%;
   }
   .logoname a{
       font-size: 0.6em;
   }
   .navigation{
       font-size: 0.5em;
       padding : 0.1em;
   }
   .tite{
      font-size: 0.8em;
   }
   .section{
       padding: 10px 15px;
   }
   .main{
       padding: .1em 1em;
       width: 97.5%;
       align-items: center;
       background-position:  74% 70%;
       background-attachment: fixed;
       
   }
   .main h2{
       font-size: 1.3em;
   }
   .main h2 span{
       font-size: 1.3em;
   }
   .main h3{
       font-size: 1.1em;
   }
   .main-btn{
       font-size: 0.9em;
   }
   .social-icons{
       font-size: 0.8em;
   }
   .services{
       padding: .1em 1em;
       width: 97.5%;
      
   }
   .services-title{
       font-size: 2em;
       padding: 0.1em;
       margin-top: 1em;
       text-align: center;
   }
   .services-content{
       flex-direction: column;
       align-items: center;
   }
   .services-card{
       font-size: 1em;
       align-items: center; 
       margin-bottom: 2em;
   }
   .Learning{
       width: 97.5%;
       padding: .1em 1em;
   }
   .Learning-title{
       font-size: 2em;
       padding: 0.1em;
       margin-top: 2em;
       text-align: center;
   }
   .Learning-content{
       flex-direction: column;
       align-items: center;
   }
   .contact{
       padding: .1em 1em;
       width: 97.5%;
   }
   .contact-title{
       font-size: 2em;
       padding: 0.1em;
       margin-top: 1em;
       text-align: center;
   }
        
   .contact-card{
     flex-direction: column;
     align-items: center;
     margin-bottom: 0.1em;
   }
   .contact-icon{
       font-size:2em;
   }
   .contact-info{
       font-size: 1.2em;
       padding: 1em 1.1em;
   }
   .footer{
       font-size: 0.8em;
       width: 97.5%;
   }
   .footer-icons{
       
        margin: 1px 55px 1px 1px;
       padding: .1em .1em;
   }
   .footer-title{
      font-size: 0.9em;
   
   }
 
      }
    /*media iphone-x 3*/
       @media (max-width: 280px) {
   header{
       width: 96.5%;
     /*  padding: 0.4em;*/
       align-items: center;
    
   }
   img#photo-logo{
       width: 38px; 
       border-radius : 100%;
   }
   .logoname a{
       font-size: 0.5em;
   }
   .navigation{
       font-size: 0.3em;
       padding : 0.1em;
   }
   .tite{
      font-size: 0.8em;
   }
   .section{
       padding: 10px 15px;
   }
   .main{
       padding: .1em 1em;
       width: 96.5%;
       align-items: center;
       background-position:  74% 70%;
       background-attachment: fixed;
       
   }
   .main h2{
       font-size: 1.3em;
   }
   .main h2 span{
       font-size: 1.3em;
   }
   .main h3{
       font-size: 1.1em;
   }
   .main-btn{
       font-size: 0.9em;
   }
   .social-icons{
       font-size: 0.8em;
   }
   .services{
       padding: .1em 1em;
       width: 96.5%;
      
   }
   .services-title{
       font-size: 2em;
       padding: 0.1em;
       margin-top: 1em;
       text-align: center;
   }
   .services-content{
       flex-direction: column;
       align-items: center;
   }
   .services-card{
       font-size: 1em;
       align-items: center; 
       margin-bottom: 2em;
   }
   .Learning{
       width: 96.5%;
       padding: .1em 1em;
   }
   .Learning-title{
       font-size: 2em;
       padding: 0.1em;
       margin-top: 2em;
       text-align: center;
   }
   .Learning-content{
       flex-direction: column;
       align-items: center;
   }
   .contact{
       padding: .1em 1em;
       width: 96.5%;
   }
   .contact-title{
       font-size: 2em;
       padding: 0.1em;
       margin-top: 1em;
       text-align: center;
   }
        
   .contact-card{
     flex-direction: column;
     align-items: center;
     margin-bottom: 0.1em;
   }
   .contact-icon{
       font-size:2em;
   }
   .contact-info{
       font-size: 1.2em;
       padding: 1em 1.1em;
   }
   .footer{
       font-size: 0.5em;
       width: 98.5%;
   }
   .footer-icons{
       
     margin: 1px 55px 1px 1px;
      padding: .1em .1em;
   }
   .footer-title{
      font-size: 0.9em;
   
   }
 
   }
           